<div class="navigation">
    <nav class="navigation" *ngFor="let item of books;">
        <button (click)="loadBook(item)">{{item.bookName}}</button>
    </nav>
</div>
<div class="grid-container" style="overflow: auto;">
    <section class="grid-detail" [hidden]="visible">
        <h3>Detail</h3>
        <p><strong>Book Name: </strong>{{n}}</p>
        <p><strong>Author: </strong>{{a}}</p>
        <p><strong>Genre: </strong>{{g}}</p>
        <p><strong>Year Published: </strong>{{y}}</p>
    </section>
    <section class="grid-picture" [hidden]="visible">
        <h3>Picture</h3>
        <img [src]="p" />
    </section>
</div>
